.slider {
  height: 40px;
  /* Height of one line of text */
  overflow: hidden;
  position: relative;
  font-size: 24px;
  font-weight: normal;
}

.slides {
  display: flex;
  flex-direction: column;
  will-change: transform;
  transform: translateZ(0);
  animation: slide 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.slides div {
  height: 40px;
  /* Same as slider height */
  display: flex;
  align-items: center;
}

@keyframes slide {

  0%,
  15% {
    transform: translateY(0);
  }

  20%,
  35% {
    transform: translateY(-40px);
  }

  40%,
  55% {
    transform: translateY(-80px);
  }

  60%,
  75% {
    transform: translateY(-120px);
  }

  80%,
  95% {
    transform: translateY(-160px);
  }

  100% {
    transform: translateY(0);
  }
}